<% include ../layouts/layout.html %>

<title> <%= ticker %> - <%= title %> </title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="/stocks"> Back</a>
        <hr>
    <h1> <%= ticker %> </h1>
    <hr>
<p> Showing daily results for the past 100 days. </p>

<p> <%= results %> </p>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      <%= results %>
      // Treat first row as data as well.
    ], true);

    var options = {
      legend:'none'
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
<% include ../layouts/footer.html %>