<% include ../layouts/layout.html %>

<title> <%= ticker %> - <%= title %> </title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
        <i class="fa fa-arrow-left" aria-hidden="true"></i><a href="/stocks"> Back</a>
        <hr>
    <h1> <%= ticker %> </h1>
    <hr>
<p> Showing daily results for the past 100 days. </p>
       <canvas id="myChart"></canvas>
   
    
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    responsive: true,
    type: 'line',
    data: {
        labels: [<%= results %>],
        datasets: [{
            borderColor: "rgb(75, 192, 192)",
            label: "<%= ticker %>", 
            data: [<%= results %>],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    }
});


</script>
<% include ../layouts/footer.html %>