<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/aacb7b816d.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    
    
  </head>
  
  

  
  <body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp; Stocks</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/stocks">Stock Search</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search" id="nav-search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="nav-ticker" disabled>
        </div>
        <button type="submit" class="btn btn-default" disabled>Submit</button>
      </form>
      </ul>
    </div>
  </div>
</nav>


<!--<script>-->
<!--  $(document).ready(function () {-->
      
<!--     $("#nav-search").submit(function(e){-->
<!--        e.preventDefault();-->
        
<!--        var searchValue = $('#nav-ticker').val();-->
         
<!--         window.location.href = window.location.href + 'stocks/' + searchValue;-->
        
<!--    });-->
<!--});-->

<!--</script>-->
    <div class="container">
    
